.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 6.2rem;
  border-radius: 4rem;
  font-size: 1.5625rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;

  &-dark{
    color: color(light);
    background-color: color(dark);
  }

  &-light{
    color: color(dark);
    background-color: color(light);
  }

}

.tab{
  width: 11.08rem;
  height: 3.552rem;
  font-size: 1.5625rem;
  border-radius: 0.710227rem;
  border: 1px solid color(dark);
}


