.filter {
  position: relative;
  z-index: 1;
  margin-top: 3rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 3.6rem;
    width: 5.5rem;
    top: 0;
  }

  &::before{
    background-image: linear-gradient(to left, #FFF 30%, transparent);
    right: 12.7rem;
  }

  &::after {
    background-image: linear-gradient(to right, #FFF 30%, transparent);
    left: 0;
  }

  .slide-btn{
    // display: none;
    z-index: 10;
    position: absolute;
    border: none;
    background-color: transparent;
    width: 5.5rem;
    height: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    // @media (min-width: $phones) {
    //   display: block;
    // }
    svg{
      width: 1.5rem;
      height: 1.5rem;
    }
    &#right-arrow{
      right: 12rem;
      transform: scaleX(-1) translateY(-50%);
    }
    &#left-arrow{
      left: -2rem;
    }
  }

  &__result {
    margin-top: 3rem;

    &__item {
      position: relative;
      color: color(dark);
      font-weight: 700;
      padding-right: 0.5rem;
      margin-left: 3.5rem;

      &:before {
        content: '';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 100%;
        background-color: color(dark);
      }
    }
  }
}

.dropdown {
  position: relative;
  z-index: 0;
  margin-left: 1rem;
  border-left: 1px solid color(grey);

  &__button {
    cursor: pointer;
    margin-left: 1.6rem;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      transform: rotate(-90deg);
    }
  }

  &__menu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    margin-top: 0.5rem;
    // width: 11rem;
    min-height: 10rem;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid color(dark);
    background-color: color(light);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    &::-webkit-scrollbar-thumb {
      border-end-end-radius: 0.75rem;
      border-start-end-radius: 0.75rem;
    }

    .btn {
      cursor: pointer;
      font-size: 1.4rem;
      color: color(dark);
      width: 100%;
      padding: 0 1rem;
      background-color: color(light);
      border-radius: 0;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: color(light);
        background-color: color(dark);
      }
    }
  }
}

.categories {
  position: relative;
  z-index: 0;
  overflow-x: auto;
  padding: 0 2.5rem;
  &::-webkit-scrollbar {
    height: 0;
  }

  &__item {
    flex-shrink: 0;
    margin: 0 0.25rem;
    cursor: pointer;
  }
}


.create-btn {
  margin-top: 3rem;

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;

    svg {
      fill: currentColor;
      width: 1.4rem;
      height: 1.4rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.jobs-list {
  margin-top: 3rem;
}


.card {
  font-size: 1.4rem;
  margin-bottom: 5.4rem;
  position: relative;
  z-index: 0;

  &__header {
    display: flex;
    // align-items: ;
    flex-direction: column;
    background-color: color(dark);
    color: color(light);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1.2rem 2rem;
    @media (min-width: $xs-phones) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @media (min-width: $tablets) {
      padding: 1.2rem 4rem;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      @media (min-width: $xs-phones) {
        margin-bottom: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }

      svg {
        width: 1.4rem;
        height: 1.4rem;
        margin-top: 0.25rem;
        margin-left: 0.7rem;
      }

      &__title {
        font-weight: 700;
        margin-left: 1rem;
      }
    }
  }

  &__body {
    line-height: 2.8rem;
    color: color(dark);
    background-color: color(light);
    border: 1px solid color(dark);
    padding: 2rem 2rem 4rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @media (min-width: $tablets) {
      padding: 2rem 4rem 4rem;
    }

    .title-wrapper {
      margin-bottom: 1.6rem;
    }

    &__title {
      display: inline;
      padding: 0 0.75rem;
      font-size: 1.8rem;
      background-color: color(light);
    }
  }

  .btn {
    height: 3rem;
    padding-bottom: 0.5rem;
    width: 11rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -1.5rem;
    left: 2rem;
  }
}

.single-job {
  .card__body {
    min-height: 30rem;
  }
}

.create-card {
  .card__header {
    display: block;
    text-align: center;

    &__title {
      display: inline;
      letter-spacing: 1px;
      padding: 0 0.75rem;
      font-size: 1.8rem;
      color: color(light);
      background-color: color(dark);

      &.back_line {
        &:before,
        &:after {
          background-color: color(light);
        }
      }
    }
  }

  .card__body {
    padding-bottom: 0;
  }
}

.more {
  margin-top: 15rem;
  margin-bottom: 4rem;

  &-link {
    font-weight: 700;
    color: color(dark);
    background-color: color(light);
    padding: 0 0.5rem;

    &:focus,
    &:hover {
      &::before,
      &::after{
        width: 0;
      }
      border-radius: 0.5rem;
      padding: 0 2.5rem;
      color: color(light);
      background-color: color(dark);
    }
  }
}

.details-btn {
  &:first-of-type {
    transform: translateX(12rem);
  }

  svg {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    width: 1.4rem;
    height: 1.4rem;
  }
}


.back-btn {
  margin-top: 3rem;

  a {
    display: inline-flex;
    color: color(dark);
    span{
      font-weight: 700;
    }
  }

  svg {
    margin-top: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.75rem;
    transform: rotate(180deg);
  }
}

.lang-tabs{
  margin-top: 5rem;
  .tab{
    margin: 0 0.5rem;
  }
}


.form {
  &__input {
    position: relative;
    z-index: 0;
    margin-bottom: 2.2rem;

    label {
      color: #B1B1B1;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8rem;

      // &[for=details] {
      //   top: 2.64rem;
      //   transform: translateX(-50%);
      // }
    }

    input,
    textarea,
    select {
      text-align: center;
      padding: 0 2.5rem;
      font-size: 1.6rem;
      width: 100%;
      height: 7rem;
      background-color: color(grey);
      border: none;
      border-radius: 5rem;

      &:focus {
        outline: 1px solid color(dark);
        transition: all 0.25s linear;

        ~label {
          top: 1rem;
          font-size: 1rem;
          color: color(dark);
        }
      }
    }

    textarea {
      resize: vertical;
      height: 24rem;
    }
  }

  .text-file{
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: $xs-phones) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

  }

  .custom-file{
    height: 15.2rem;
    border: 2px dashed color(grey);
    border-radius: 2rem;
    position: relative;
    @media (min-width: $xs-phones) {
      margin-right: 2rem;
    }
    input[type="file"]{
      // cursor: pointer;
      height: 100%;
      opacity: 0;
      background-color: color(light);
      &:hover,
      &:focus{
        ~ label{
          cursor: pointer;
          top: 50%;
          font-size: 1.8rem;
          color: #B1B1B1;
        }
      }
    }
    img{
      opacity: 0;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }

  .btn {
    display: inline;
    height: auto;
    padding: 0;
    bottom: -1.5rem;
  }

  .text{
    width: 100%;
  }

  .sided-row {
    display: flex;
    flex-direction: column;
    @media (min-width: $xs-phones) {
      margin: 0 -1rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    
    .form__input {
      width: 100%;
      @media (min-width: $xs-phones) {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  .add-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    color: color(dark);
    span{
      font-weight: 700;
    }

    svg {
      fill: currentColor;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.75rem;
      margin-top: 0.5rem;
    }
  }

  .download{
    font-size: 2rem;
    font-weight: 700;
    margin: 5rem 0;
    border: none;
    background-color: transparent;
    color: color(dark);
  }
}