/* ========== General Classes ========== */
.container {
	padding: 0 15px;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;

	@media (min-width: $phones) {
		max-width: 540px;
	}

	@media (min-width: $tablets) {
		max-width: 720px;
	}

	@media (min-width: $desktops) {
		max-width: 960px;
	}

	@media (min-width: $HD) {
		max-width: 1140px;
	}
}

// colors
.is-primary {
	color: color(primary);
}

.is-dimmed {
	color: color(grey);
}

.is-white {
	color: color(white);
}

.bg-gray {
	background-color: rgba(46, 49, 146, 0.05);
}

.bg-primary {
	background-color: color(primary);
}

// Fonts
.fBold {
	font-weight: 700;
}

.fRegular {
	font-weight: 400;
}

.f14 {
	font-size: 12px !important;

	@media (min-width: $tablets) {
		font-size: 14px !important;
	}
}

.text-center {
	text-align: center;
}

.show {
	display: block;
}

/* ========== General styles ========== */
.relative {
	position: relative;
	z-index: 0;
}

.back_line {
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 10rem;
		height: 0.1px;
		background-color: color(dark);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* ========== FlexBox Classes ========== */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.flex-column {
	flex-direction: column;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

/* ========== Style SVG ========== */
.resize-svg {
	width: 24px;
	height: 24px;
}

.title-icon {
	width: 28px;
	height: 28px;
}

.accent-svg {
	height: 224px;
}

.svg-fill {
	&-white {
		fill: color(white);
	}

	&-dark {
		fill: color(dark);
	}

	&-light {
		fill: color(light);
	}
}