header {
    background: no-repeat center/cover url('../img/resumes-desk.png');
    position: relative;
    z-index: 1;
    height: 40.485rem;
    // height: 28.5rem;

    &::after {
        z-index: 0;
        content: '';
        position: absolute;
        inset: 0;
        background-color: color(dark);
        opacity: 0.61;
    }

    .container{
        display: grid;
        height: 100%;
        align-items: baseline;
    }
}

.logo {
    display: inline-block;
    height: 4.121rem;
    width: 13.495rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.nav{
    position: relative;
    z-index: 4;
    margin-top: 2.84091rem;
}

.search{
    position: relative;
    z-index: 5;
    align-self: end;
    margin-bottom: 3.125rem;
    input[type="search"]{
        font-size: 1.5625rem;
        width: 100%;
        height: 5.683rem;
        border: none;
        border-radius: 1.136364rem;
        background: no-repeat #FFF url("data:image/svg+xml,%3Csvg id='search' xmlns='http://www.w3.org/2000/svg' width='17.737' height='17.736' viewBox='0 0 17.737 17.736'%3E%3Cpath id='Path_8' data-name='Path 8' d='M29,23.16a1.109,1.109,0,0,0-1.569,0l-4.268,4.268A1.109,1.109,0,0,0,24.73,29L29,24.729a1.109,1.109,0,0,0,0-1.569Z' transform='translate(-22.838 -11.585)' fill='%233d7791' fill-rule='evenodd'/%3E%3Cpath id='Path_9' data-name='Path 9' d='M7.205,13.3a6.1,6.1,0,1,1,6.1-6.1A6.1,6.1,0,0,1,7.205,13.3ZM0,7.205A7.205,7.205,0,1,0,7.205,0,7.205,7.205,0,0,0,0,7.205Z' transform='translate(3.326 0)' fill='%233d7791' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
        background-size: 2.557rem 2.557rem;
        background-position: 98% center;
        padding: 1.5625rem 5.68182rem;
        &:focus{
            outline: 2px solid rgb(236, 196, 18);
        }
    }
    input[type="submit"]{
        width: 2.557rem;
        height: 2.273rem;
        border: none;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: no-repeat center/contain url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.002' height='15.753' viewBox='0 0 18.002 15.753'%3E%3Cg id='arrow-left-short' transform='translate(-8.998 -10.123)'%3E%3Cpath id='Path_6' data-name='Path 6' d='M17.672,10.454a1.125,1.125,0,0,1,0,1.593L11.716,18l5.956,5.954a1.126,1.126,0,0,1-1.593,1.593L9.329,18.8a1.125,1.125,0,0,1,0-1.593l6.75-6.75a1.125,1.125,0,0,1,1.593,0Z' fill='%233d7791' fill-rule='evenodd'/%3E%3Cpath id='Path_7' data-name='Path 7' d='M10.125,18a1.125,1.125,0,0,1,1.125-1.125H25.875a1.125,1.125,0,0,1,0,2.25H11.25A1.125,1.125,0,0,1,10.125,18Z' fill='%233d7791' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}